<form name="projectForm" ng-show="project.isEditMode" novalidate>
    <div class="input-group input-group-edit">
        <div class="input-group-btn">
            <div todo-dropdown>
                <div class="dropdown">
                    <button class="btn btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="fa fa-circle" ng-style="{'color': project.color}"></span>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right menu-buttons">
                        <li class="color-chooser">
                            <a href="#" ng-repeat="color in colors" ng-click="chooseColor(color)" ng-style="{'background-color': color}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <input type="text" name="name" class="form-control" ng-model="project.name" required>
    </div>

    <div class="action-group">
      <button class="btn btn-danger" ng-disabled="projectForm.name.$invalid" ng-click="save()">Save</button>
      <button class="btn" ng-click="cancel()">Cancel</button>
    </div>

</form>
