.title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.listgroup {
  padding-left: 0;
  margin-bottom: 20px;

  .listgroupitem {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #f0f0f0;
    margin-bottom: 0px;

    .inputgroupaddon {
      border: 0px;
      background-color: transparent;
    }

    .formcontrol {
      border: 0px;
      &.formcontroledit{
        flex-direction: row;
      }
    }

    .dropdowntoggle {
      border: 0px;

      &::after {
        display:none;
      }
    }

    .todocheckbox {
      display: none;
    }

    .todocheckbox + label span {
      display: inline-block;
      width: 18px;
      height: 18px;
      vertical-align: middle;
      cursor: pointer;
      line-height: 15px;
      border: 2px solid #f8801c;
      background-color: #fef2e8;
      border-radius: 18px;
    }

    .todocheckbox:checked + label span {
      background-color: #f8801c;
    }
  }
}
