@import 'variables.css';

.nav {
  border-bottom: 0px;

  li {
    .navlink {
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-bottom: solid 1px $gray-light;

      &:active,
      &:focus,
      &:visited,
      &:hover {
        font-weight: bold;
        background-color: transparent;
      }

      &.active {
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: solid 1px $gray-darker;

        &:active,
        &:focus,
        &:visited,
        &:hover {
          font-weight: normal;
          background-color: transparent;
        }
      }
    }
  }
}
