<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
              <img class="pull-left" src="images/logo.png" />
              <span>Todoist</span>
            </a>
        </div>
        <div class="collapse navbar-collapse row">
          <div class="col-md-offset-4">
            <form class="navbar-form">
              <i class="fa fa-search"></i>
              <input class="typeahead tt-input" placeholder="Quick find">
            </form>
          </div>
        </div>
    </div>
</div>
